/*Michelle Quach, Winter 2018*/


/*-----Set ANIMATION keyframes-----*/

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes flip {
    66%, 100% {
        transform: rotate(0deg)
    }
    83% {
        transform: rotate(45deg)
    }
}


/*-----POSITIONING STYLES-----*/

body {
    color: #797979;
    background-color: inherit;
    background: linear-gradient(-45deg, #ffffff, #bedcea, #ffedb2, #ffc7a1);
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
}

main {
    position: relative;
    max-width: 1450px;
    padding: 2%;
}


/*-----TYPOGRAPHY-----*/

h1, h2 {
    font: 900 1.2em 'PT Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
    color: #797979;
    margin-bottom: 0;
}

p {
    font: 1.2em 'Roboto', sans-serif;
    margin-top: -5px;
    text-align: center;
}

aside p {
    text-align: left;
    font-size: 0.8em;
}


/*-----POSITION INDIVIDUAL ITEMS-----*/

#room {
    position: relative;
    z-index: 1;
    display: block;
    margin: auto;
}

#nomNom, #highlighters, #grid, #pin, #poster, #donald {
    position: absolute;
    z-index: 2;
    animation: flip 3s infinite;
}

#nomNom {
    right: 30%;
    top: 63%;
}

#highlighters {
    right: 38%;
    top: 59%;
}

#grid {
    left: 40%;
    top: 46%;
}

#pin {
    right: 27%;
    top: 65%;
}

#poster {
    left: 18%;
    top: 52%;
}

#donald {
    left: 27%;
    top: 68%;
}


/*-----DESCRIPTION BOX POP UP STYLES-----*/

#nomNomInfo, #highlightersInfo, #gridInfo, #pinInfo, #posterInfo, #donaldInfo {
    background-color: #ffedb2;
    max-width: 65%;
    max-height: 65%;
    padding: 2%;
    color: inherit;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 10;
    overflow: auto;
    border-radius: 15px;
    box-shadow: 5px 8px 20px #979797;
}

#close, #close1, #close2, #close3, #close4, #close5 {
    position: relative;
    top: 2%;
    margin-left: 95%;
}


/*-----FOOTER STYLES-----*/

a, a:link, a:visited {
    text-decoration: none;
    color: #797979;
    background-color: inherit;
}

footer {
    position: fixed;
    font: 0.8em 'PT Sans', sans-serif;
    text-align: right;
    bottom: 2%;
    width: 100%;
    padding: 1%;
    z-index: 10;
}

footer a {
    text-decoration: none;
    margin-right: 50px;
}


/*-----START DESKTOP STYLES-----*/

@media only screen and (min-width: 769px) {
    /* declarations for desktop*/
    /*-----TYPOGRAPHY-----*/
    h1 {
        font-size: 1.5em;
        position: fixed;
        z-index: 10;
        transform: rotate(-90deg);
        margin: 320px 0 0 30px;
    }
    h2 {
        font-size: 1em;
    }
    p {
        margin-top: 20px;
    }
    /*-----POSITION INDIVIDUAL ITEMS-----*/
    #nomNom, #highlighters, #grid, #pin, #poster, #donald {
        animation-play-state: paused;
    }
    #room {
        margin-top: -30px;
        max-width: 100%;
    }
    #nomNom:hover, #highlighters:hover, #grid:hover, #pin:hover, #poster:hover, #donald:hover {
        animation: spin 1s;
    }
    #nomNom {
        right: 39%;
        top: 54%;
    }
    #highlighters {
        right: 44%;
        top: 49%;
    }
    #grid {
        left: 44%;
        top: 36%;
    }
    #pin {
        right: 37%;
        top: 56%;
    }
    #poster {
        left: 31%;
        top: 43%;
    }
    #donald {
        left: 37%;
        top: 60%;
    }
    #nomNomInfo, #highlightersInfo, #gridInfo, #pinInfo, #posterInfo, #donaldInfo {
        transform: translate(-50%, -50%);
    }
    /*-----START FOOTER STYLES-----*/
    a:hover {
        color: #ffffff;
        text-decoration: underline;
        background-color: inherit;
    }
    a:active {
        color: #ffc7a1;
        background-color: inherit;
    }
    footer {
        transform: rotate(90deg) translate(-60%, -520px);
    }
}
