/*Michelle Quach, Winter 2018*/


/*-----START FONT STYLES-----*/

@font-face {
    font-family: 'gotham-bold';
    src: url('fonts/gotham-bold.ttf');
}

@font-face {
    font-family: 'gotham-book';
    src: url('fonts/gotham-book.otf');
}


/*-----START STRUCTURAL STYLES-----*/

body {
    margin: 0px;
    overflow: hidden;
    background-color: #000000;
    color: inherit;
}

button {
    background-color: #fea800;
    color: #ffffff;
    border: none;
    font-size: 0.8em;
    border-radius: 10px;
    text-align: center;
    padding: 0.5%;
    margin: 0.2%;
    font-family: "gotham-book", sans-serif;
}

#scene {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#hudleft {
    pointer-events: none;
    position: absolute;
    z-index: 3;
    left: 0;
    width: 45%;
    height: 100%;
    margin-left: 2.5%;
}

#hudright {
    pointer-events: none;
    position: absolute;
    z-index: 3;
    right: 0;
    width: 45%;
    height: 100%;
    margin-right: 2.5%;
}

#circleleft {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
}

#circleright {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
}


/*-----START LINK STYLES-----*/

li {
    padding: 2%;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #fea800;
    background-color: inherit;
}

a:hover {
    color: #ffffff;
    text-decoration: line-through;
    background-color: inherit;
}

a:active {
    color: #fe7e00;
    background-color: inherit;
}


/*-----START FOOTER STYLES-----*/

footer {
    font-family: "gotham-book", sans-serif;
    clear: both;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 10px;
    width: 100%;
    font-size: 0.5em;
    padding: 1%;
    z-index: 5;
}

footer a {
    margin-right: 80px;
}
